html {

 background-color: #fff;

}

#map
{
    min-height: 540px;
    margin: 5px 0px 5px 0px;
}

#stats {
    background-color: #f2f2f2;
    min-height: 180px;

   

}

#hrZonesChart {
    width: 200px;
    height: 100px;
}

#elevationChart {
    width: 200px;
    height: 100px;
}
